@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,400");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,400");
/* -- общие переменные --*/
/* -- переменные header --*/
/* -- переменные banner --*/
/* -- переменные below-banner --*/
/* -- переменные footer --*/
/* -- общие стили --*/
body {
  background-color: green;
  margin: 0; }

.page {
  height: 2733px;
  margin: 0px auto; }

.latest_events {
  width: 1400px;
  height: 681px;
  background-color: RGB(155, 36, 45); }

/* -- стили header -- */
.header {
  height: 116px;
  background-color: white; }

.header__content {
  max-width: 1400px; }

.content {
  width: 1024px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto; }

.header__logo {
  margin-top: 35px; }

.header__menu {
  margin-top: 32px; }

.menu__item {
  display: flex;
  list-style-type: none;
  padding: 0; }

.menu__list {
  margin: 0 0px 0 4.2px; }

.menu__href-active {
  background-color: RGB(155, 36, 45);
  color: RGB(241, 239, 236) !important;
  border-radius: 2px; }

.menu__href:hover {
  background-color: RGB(155, 36, 45);
  color: RGB(241, 239, 236);
  border-radius: 2px; }

.menu__href {
  font-family: Roboto Slab;
  font-size: 13.9px;
  text-transform: uppercase;
  text-decoration: none;
  color: RGB(108, 109, 109);
  padding: 7.5px 16px; }

/*.menu__list .first {
	background-color: $color_button_header;
	color: $color_font_button_on_header;
	padding: 7.5px 16px;
	border-radius: 2px;
}*/
/* -- стили banner -- */
.banner {
  width: 1400px;
  height: 603px; }

.banner .background_filter {
  width: inherit;
  height: inherit;
  background-color: rgba(155, 36, 45, 0.5);
  position: absolute; }

.banner .background {
  width: inherit;
  height: inherit;
  background: url(../images/header/Layer.png);
  position: absolute; }

.banner_words {
  width: inherit;
  height: inherit;
  position: absolute;
  color: white;
  font-family: Roboto Slab, serif; }

.banner_words p:first-child {
  margin: 215px 4px 0 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.5px; }

.banner_words p:last-child {
  margin: 4px 5px 0 0;
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  word-spacing: 0.2px;
  line-height: 1.2;
  letter-spacing: 0.1px; }

#button_donate_now {
  position: absolute;
  width: inherit;
  margin-top: 361px;
  text-align: center; }

#button_donate_now a {
  display: inline-block;
  margin: 0;
  padding: 11px 58px 15px 53px;
  text-decoration: none;
  font-family: Open Sans;
  font-size: 26px;
  font-weight: bold;
  color: RGB(70, 166, 81);
  line-height: 1.2;
  box-shadow: 0px 0px 0px 7px rgba(0, 0, 0, 0.07);
  border-radius: 70px / 70px;
  background-color: white; }

/* -- стили bellow_banner -- */
.bellow_banner {
  width: 100%;
  background-color: RGB(155, 36, 45);
  display: flex;
  flex-direction: column; }

.bellow_banner__content {
  max-width: 1400px; }

.bellow_banner__top-block {
  display: flex; }

.bellow_banner__logo {
  width: 540px;
  height: 316px;
  background-color: RGB(241, 239, 236);
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.logo_img {
  margin: 5px 48px 0 0; }

.middle-img {
  height: 316px; }

.bellow_banner__donate_now {
  width: 540px;
  height: 316px;
  background-color: RGB(155, 36, 45);
  color: RGB(255, 255, 255);
  display: flex;
  align-items: center; }

.donate_now__text {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 40px; }

.text__h1 {
  font-family: Roboto Slab, serif;
  font-size: 40px;
  font-weight: bold;
  color: RGB(255, 255, 255);
  line-height: 0.55;
  margin-bottom: 14px; }

.text__h2 {
  padding-left: 4px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 100;
  color: RGB(255, 255, 255);
  line-height: 1.375;
  letter-spacing: 0.25px; }

.bellow_banner__middle-block {
  display: flex; }

.sign_up__content {
  width: 860px;
  height: 317px;
  background-color: RGB(70, 166, 81); }

.bellow_banner__middle-block p:first-child {
  font-family: Roboto Slab, serif;
  font-size: 40px;
  font-weight: bold;
  color: RGB(255, 255, 255);
  line-height: 0.55;
  text-align: right;
  margin: 74px 78px 0 0; }

.bellow_banner__bottom-block {
  display: flex; }

.bellow_banner .facebook {
  width: 320px;
  height: 317px;
  background-color: RGB(59, 89, 151); }

/*				-- стили footer --			*/
.b-footer {
  background-color: RGB(55, 56, 56);
  width: 100%; }

b-footer__content {
  max-width: 1400px;
  background-color: RGB(55, 56, 56);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto; }

/*				-- верхний блок --			*/
.b-footer__top-block {
  width: 1024px;
  margin: 0 auto 39px;
  border-bottom: 1px solid RGB(129, 129, 129);
  display: flex;
  justify-content: center; }

.b-footer__menu-item {
  width: 730px; }

.b-footer__menu {
  font-family: Roboto Slab;
  list-style-type: none;
  padding: 0;
  margin: 57px 0 52px 0;
  display: flex;
  justify-content: space-between; }

.b-footer__menu__href {
  font-size: 15px;
  text-decoration: none;
  color: RGB(129, 129, 129);
  line-height: 1.467;
  word-spacing: 1px; }

.b-footer__menu__href .first {
  color: green !important; }

/*				-- средний блок --			*/
.b-footer__middle-block {
  width: 1024px;
  padding-bottom: 36px;
  margin: 0 auto 33px;
  border-bottom: 1px solid RGB(129, 129, 129);
  display: flex;
  justify-content: space-between; }

.b-footer__folow {
  dispay: flex;
  justify-content: flex start; }

.b-footer__folow-text {
  margin-bottom: 13px;
  font-family: Roboto Slab, serif;
  font-size: 18px;
  color: RGB(198, 198, 198);
  word-spacing: -1px;
  line-height: 1.2; }

.b-footer__icon {
  display: flex; }

.b-footer .icon__item {
  margin-right: 10px; }

.b-footer__news-letter {
  margin-left: -3.5%; }

.b-footer__news-letter-text {
  margin-bottom: 13px;
  font-family: Roboto Slab, serif;
  font-size: 18px;
  color: RGB(198, 198, 198);
  line-height: 1.2; }

.b-footer__form {
  display: flex; }

.b-footer__text {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.b-footer__input-text input[type=text] {
  width: 201px;
  height: 40px;
  border: none;
  box-sizing: border-box;
  outline: none;
  padding-left: 19px;
  background-color: RGB(73, 73, 73);
  font-size: 14px;
  font-family: Roboto;
  color: RGB(119, 119, 119);
  line-height: 1.571; }

.b-footer__button input[type=submit] {
  width: 123px;
  height: 40px;
  outline: none;
  border: none;
  background-color: RGB(155, 36, 45);
  font-family: Roboto, serif;
  font-size: 15px;
  font-weight: 100;
  color: white;
  line-height: 1.375;
  letter-spacing: 0.5px; }

.b-footer__text__contact {
  font-family: Roboto Slab;
  font-size: 18px;
  color: RGB(198, 198, 198);
  line-height: 1.2;
  margin-bottom: 12px; }

.b-footer__text__address,
.b-footer__text__street,
.b-footer__text__phone {
  font-family: Open Sans;
  font-size: 14px;
  color: RGB(129, 129, 129);
  line-height: 1.2; }

/*				-- нижний блок --			*/
.b-footer__bottom-block {
  width: 1024px;
  padding-bottom: 39px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around; }

.b-footer__сopyright {
  font-family: Roboto Slab, serif;
  font-size: 15px;
  color: RGB(129, 129, 129);
  line-height: 1.467; }

/*

.Rectangle_3 {
  background-color: rgb(175, 110, 115);
  position: absolute;
  left: 540px;
  top: 718px;
  width: 320px;
  height: 316px;
  z-index: 51;
}

display:flex;
	justify-content: flex-end;


*/

/*# sourceMappingURL=styles.css.map */
