@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');



/* -- общие переменные --*/


$color-test: green;
$text_font_Roboto_Slab: Roboto Slab;
$text_font_Open_Sans: Open Sans;
$text_font_Roboto: Roboto;

$color-main: white;
$color-main-text: white;

$color-gray-text: RGB(129, 129, 129);
$color-light-gray-text: RGB(119, 119, 119);
$color-middle-gray-text: RGB(198, 198, 198);
$color-dark-gray-background: RGB(73, 73, 73);

$color-light-red-button: RGB(155, 36, 45);

$color-light-green-background: RGB(94, 192, 105);
$color-light-green-text: RGB(70, 166, 81);
$color-dark-green-button: RGB(52, 142, 62);

$color-blue-background: RGB(59, 89, 151);


/* -- переменные header --*/


$color-head: white;
$color_bellow_banner: RGB(70, 166, 81);
$color_latest_events: RGB(155, 36, 45);
$color_footer: RGB(55, 56, 56);
$color_font_button_off_header: RGB(108, 109, 109);
$color_font_button_on_header: RGB(241, 239, 236);
$color_button_header: RGB(155, 36, 45);



/* -- переменные banner --*/


$color_font_banner: white;
$color_filter_banner: RGB(155, 36, 45);
$color_text_donate_now: RGB(70, 166, 81);
$color_button_donate_now: white;



/* -- переменные below-banner --*/


$color_background_below_banner_left_top: RGB(241, 239, 236);
$color_background_below_banner_right_top: RGB(155, 36, 45);
$color_text_bellow_banner: RGB(255, 255, 255);
$color_background_sign_up: RGB(70, 166, 81);
$color_background_facebook: RGB(59, 89, 151);



/* -- переменные footer --*/

$color_text_navigation: RGB(129, 129, 129);






/* -- общие стили --*/



body {
	background-color: $color-test;
	margin: 0;
}

.page {

	height: 2733px;
	margin: 0px auto;
}


.latest_events {
	width: 1400px;
	height: 681px;
	background-color: $color_latest_events;
}




/* -- стили header -- */




.header {
	height: 116px;
	background-color: $color-main;
}

.header__content {
	max-width: 1400px;
}

.content {
	width: 1024px;

	display: flex;
	justify-content: space-between;

	margin: 0 auto;

}

.header__logo {
    margin-top: 35px;
}

.header__menu {
    margin-top: 32px;
}

.menu__item {
	display: flex;

	list-style-type: none;

	padding: 0;
}

.menu__list {
	margin: 0 3.8px 0 0;
}

.menu__href {
	font-family: $text_font_Roboto_Slab;
	font-size: 14px;
	text-transform: uppercase;	
	text-decoration: none;
	color: $color_font_button_off_header;
	padding: 7.5px 15.5px;
}

.menu__href-active {
	background-color: $color_button_header;
	color: $color_font_button_on_header !important;
	border-radius: 2px;
}

.menu__href:hover {
	background-color: $color_button_header;
	color: $color_font_button_on_header;
	border-radius: 2px;
   } 




/* -- стили banner -- */




.banner {
	width: 1400px;
	height: 603px;
}

.banner .background_filter {
	width: inherit;
	height: inherit;
	background-color: rgba(155, 36, 45, 0.5);
	position: absolute;
}

.banner .background {
	width: inherit;
	height: inherit;
	background: url(../images/header/Layer.png);
	position: absolute;
}
.banner_words {
	width: inherit;
	height: inherit;
	position: absolute;
	color: $color_font_banner;
	font-family: $text_font_Roboto_Slab, serif;
}
.banner_words p:first-child {
	margin: 215px 4px 0 0;
	text-align: center;

	text-transform: uppercase;
	font-size: 50px;
	font-weight: bold;

	line-height: 1.2;
	letter-spacing: 0.5px;
	}

.banner_words p:last-child {
	margin: 4px 5px 0 0;
	text-align: center;

	font-size: 24px;
	font-weight: 100;

	word-spacing: 0.2px;
	line-height: 1.2;
	letter-spacing: 0.1px;
}

#button_donate_now {
	position: absolute;

	width: inherit;
	margin-top: 361px;

	text-align: center;
}

#button_donate_now a {
	display: inline-block;
	margin: 0;
	padding: 11px 58px 15px 53px;

	text-decoration: none;
	font-family: $text_font_Open_Sans;
	font-size: 26px;
	font-weight: bold;
	color: $color_text_donate_now;
	line-height: 1.2;
	
	box-shadow: 0px 0px 0px 7px rgba(0,0,0,0.07);
	border-radius: 70px / 70px;
	background-color: $color_button_donate_now;

}




/* 			-- стили bellow_banner --		 */




.bellow_banner {
	width: 100%;
	background-color: $color_background_below_banner_right_top;
	display: flex;
	flex-direction: column;
}

.bellow_banner__content {	
	max-width: 1400px;	
}

	
/*				-- верхний блок --			*/


.bellow_banner__top-block {
	display: flex;
}

.bellow_banner__logo {
	width: 540px;
	height: 316px;

	background-color: $color_background_below_banner_left_top;

	display:flex;
	justify-content: flex-end;
	 align-items: center;
}

.logo_img {
	margin: 5px 48px 0 0;
}

.middle-img {
    height: 316px;
}

.bellow_banner__donate_now {
	width: 540px;
	height: 316px;

	background-color: $color_background_below_banner_right_top;
	color:$color_text_bellow_banner;
}

.donate_now__text {
	display:flex;
	flex-direction: column;
	margin: 110px 0 0 42px;
}

.text__h1 {
	font-family: $text_font_Roboto_Slab, serif;
	font-size: 40px;
	font-weight: bold;
	color:$color_text_bellow_banner;

	margin-bottom: 2px;
}

.text__h2 {
    padding-left: 4px;

	font-family: $text_font_Roboto;
	font-size: 16px;
	font-weight: 100;
	color:$color_text_bellow_banner;
    word-spacing: 1.2px;
}

	
/*				-- средний блок --			*/


.bellow_banner__middle-block {
	display: flex;
}

.sign_up__content {
	width: 860px;

	background-color: $color_background_sign_up;

	display: inline-flex;
	flex-direction: column;
	align-items: flex-end;

    padding: 58px 80px 0 0;
}

.sign-up__text-h1 {

	font-family: $text_font_Roboto_Slab, serif;
	font-size: 40px;
	font-weight: bold;	
	color:$color_text_bellow_banner;
	//line-height: 0.55;

	margin-bottom: 23px;
}

.sign_up-form {
	display: flex;
	margin-bottom: 16px;
}

.sign_up-form__input-text {
	width: 274px;
	height: 44px;

	border: none;
	box-sizing: border-box;
	outline: none;

	padding-left: 19px;

	background-color: $color-light-green-background;

	font-size: 14px;
	font-family: $text_font_Roboto;
	color: $color-light-green-text;
	line-height: 1.571;
}

.sign_up-form__submit {
	width: 123px;
	height: 44px;

	outline: none;

	border: none;

	background-color: $color-dark-green-button;

	font-family: $text_font_Roboto, serif;
	font-size: 15px;
	font-weight: 100;
	color: $color-main-text;
	letter-spacing: 0.5px;

	padding-top: 6px;
}

.sign-up__text-h2{
	font-family: $text_font_Roboto, serif;	
	font-size: 16px;	
	font-weight: 100;
	color: $color-main-text;
	letter-spacing: 0.3px;
}

.text-h2__top {
    margin-bottom: 3.2px;
}

	
/*				-- нижний блок --			*/


.bellow_banner__bottom-block {
	display: flex;
}

.right-img {
}

.facebook {
	display: flex;
	flex-direction: column;
    justify-content: center;

	width: 320px;

	background-color: $color-blue-background;
}

.facebook__text-f {
	width: 35px;
    margin: 48px 0 30px 143px;


}
.bellow_banner .facebook_text {
	font-family: $text_font_Roboto, serif;	
	font-size: 16px;	
	font-weight: 100;
	color: $color-main-text;
	word-spacing: 1.5px;

	margin: 0 0 0 127px;
}



/*				-- стили footer --			*/




.footer {
	background-color: $color_footer;
	width: 100%;
}

.footer__content {
	max-width: 1400px;

	background-color: $color_footer;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
	//margin: 0 auto;
}

	
/*				-- верхний блок --			*/


.footer__top-block {
	width: 1024px;

	margin: 0 auto 39px;
	border-bottom: 1px solid $color_text_navigation;

	display: flex;
	justify-content: center;
}

.footer__menu-item {
	width: 730px;
}

.footer__menu {
	font-family: $text_font_Roboto_Slab;
	list-style-type: none;

	padding: 0;
	margin: 57px 0 52px 0;

	display: flex;
	justify-content: space-between;
}


.footer-menu__href {
	font-size: 15px;
	text-decoration: none;
	color: $color-gray-text;

	line-height: 1.467;
	word-spacing: 1px;
}

.footer-menu__href-active {
	color: $color-main-text;
}

.footer-menu__href:hover {
	color: $color-main-text !important;
}

/*				-- средний блок --			*/


.footer__middle-block {
	width: 1024px;
	padding-bottom: 36px; 
	margin: 0 auto 33px;
	border-bottom: 1px solid $color_text_navigation; 

	display: flex;
	justify-content: space-between;
}

.footer__folow-text {
	margin-bottom: 13px;

	font-family: $text_font_Roboto_Slab, serif;
	font-size: 18px;
	color: $color-middle-gray-text;

	word-spacing: -1px;
	line-height: 1.2;
}

.footer__icon {
	display: flex;
}

.footer-icon__item {
	margin-right: 10px;
}

.footer__news-letter {
	margin-left: -3.5%;
}
 
.footer__news-letter-text {
	margin-bottom: 13px;

	font-family: $text_font_Roboto_Slab, serif;
	font-size: 18px;
	color: $color-middle-gray-text;
	line-height: 1.2;
}

.footer__form {
	display: flex;
}

.footer-form__input-text {
	width: 201px;
	height: 40px;

    border: none;	
    box-sizing: border-box;
	outline: none;    

    padding-left: 19px;

    background-color: $color-dark-gray-background;

    font-size: 14px;
	font-family: $text_font_Roboto;
	color: $color-light-gray-text;
	line-height: 1.571;
}

.footer-form__submit { 
	width: 123px;
	height: 40px;

	outline: none;

	border: none;

    background-color: $color-light-red-button;

	font-family: $text_font_Roboto, serif;
    font-size: 15px;
    font-weight: 100;
	color: $color-main-text;
	line-height: 1.375;
	letter-spacing: 0.5px;
}

.footer__text {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.footer__text__contact {
	font-family: $text_font_Roboto_Slab;
	font-size: 18px;
	color: $color-middle-gray-text;	
	line-height: 1.2;

	margin-bottom: 12px;
}

.footer__text__address,
.footer__text__street,
.footer__text__phone {
	font-family: $text_font_Open_Sans;
	font-size: 14px;	
	color: $color-gray-text;
	line-height: 1.2;	
}


/*				-- нижний блок --			*/


.footer__bottom-block {
	width: 1024px;
	padding-bottom: 39px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

.copyright {
	font-family: $text_font_Roboto_Slab, serif;
	font-size: 15px;
	color: $color-gray-text;
	line-height: 1.467;
}




