@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

/* -- общие переменные --*/

$color-test: green;
$text_font_Roboto_Slab: Roboto Slab;
$text_font_Open_Sans: Open Sans;
$text_font_Roboto: Roboto;

/* -- переменные header --*/
$color-head: white;

$color_bellow_banner: RGB(70, 166, 81);
$color_latest_events: RGB(155, 36, 45);
$color_footer: RGB(55, 56, 56);
$color_font_button_off_header: RGB(108, 109, 109);
$color_font_button_on_header: RGB(241, 239, 236);
$color_button_header: RGB(155, 36, 45);


/* -- переменные banner --*/

$color_font_banner: white;
$color_filter_banner: RGB(155, 36, 45);
$color_text_donate_now: RGB(70, 166, 81);
$color_button_donate_now: white;

/* -- переменные below-banner --*/

$color_background_below_banner_left_top: RGB(241, 239, 236);
$color_background_below_banner_right_top: RGB(155, 36, 45);
$color_text_bellow_banner: RGB(255, 255, 255);


/* -- общие стили --*/

body {
	background-color: $color-test;
	margin: 0;
}

.page {
	width: 1400px;
	height: 2733px;
	margin: 0px auto;
}

.header {
	width: 1400px;
	height: 116px;
	background-color: $color-head;
}

.banner {
	width: 1400px;
	height: 603px;
}

.bellow_banner {
	width: 1400px;
	height: 950px;
	//background-color: $color_bellow_banner;
}

.latest_events {
	width: 1400px;
	height: 681px;
	background-color: $color_latest_events;
}

.footer {
	width: 1400px;
	height: 383px;
	background-color: $color_footer;
}

/* -- стили header -- */

.header #logo {
	padding: 35px 0px 0px 187px;
	display: inline-block;
}

.header_navigation {
	float: right;
	padding: 30px 190px 0px 0px;
}

.header_navigation ul {
	font-family: $text_font_Roboto_Slab;
	list-style-type: none;
}

.header_navigation ul li {
	display: inline-block;
	margin: 0 3px 0 0;

	text-transform: uppercase;
	font-size: 13.9px;
}

.header_navigation ul li a {
	padding: 7.5px 16px;

	border-radius: 2px;

	text-decoration: none;
	color: $color_font_button_off_header;
}

.header_navigation ul li:first-child a {
	background-color: $color_button_header;
	color: $color_font_button_on_header;
}


/* -- стили banner -- */

.banner .background_filter {
	width: inherit;
	height: inherit;
	background-color: rgba(155, 36, 45, 0.5);
	position: absolute;
}

.banner .background {
	width: inherit;
	height: inherit;
	background: url(../images/header/Layer.png);
	position: absolute;
}
.banner_words {
	width: inherit;
	height: inherit;
	position: absolute;
	color: $color_font_banner;
	font-family: $text_font_Roboto_Slab, serif;
}
.banner_words p:first-child {
	margin: 215px 4px 0 0;
	text-align: center;

	text-transform: uppercase;
	font-size: 50px;
	font-weight: bold;

	line-height: 1.2;
	letter-spacing: 0.5px;
	}

.banner_words p:last-child {
	margin: 4px 5px 0 0;
	text-align: center;

	font-size: 24px;
	font-weight: 100;

	word-spacing: 0.2px;
	line-height: 1.2;
	letter-spacing: 0.1px;
}

#button_donate_now {
	position: absolute;

	width: inherit;
	margin-top: 361px;

	text-align: center;
}

#button_donate_now a {
	display: inline-block;
	margin: 0;
	padding: 11px 58px 15px 53px;

	text-decoration: none;
	font-family: $text_font_Open_Sans;
	font-size: 26px;
	font-weight: bold;
	color: $color_text_donate_now;
	line-height: 1.2;
	
	box-shadow: 0px 0px 0px 7px rgba(0,0,0,0.07);
	border-radius: 70px / 70px;
	background-color: $color_button_donate_now;

}


/* -- стили bellow_banner -- */

.bellow_banner .logo {
	width: 540px;
	height: 316px;

	float: left;

	background-color: $color_background_below_banner_left_top;
}

.bellow_banner .logo img{
	margin: 128px 0 0 215px;
}

.bellow_banner .picture_moss {
	float: left;
  	width: 320px;
  	height: 316px;

	background: url(../images/below_banner/moss.png);

}

.bellow_banner .donate_now {
	float: right;
	width: 540px;
	height: 316px;

	background-color: $color_background_below_banner_right_top;
}

.bellow_banner .donate_now p {
	color:$color_text_bellow_banner;
}

.bellow_banner .donate_now p:first-child {
	color:$color_text_bellow_banner;

	font-family: $text_font_Roboto_Slab, serif;
	font-size: 40px;
	font-weight: bold;
	line-height: 0.55;

	margin: 126px 0 0 42px;

}
.bellow_banner .donate_now p:last-child {
	
	font-family: $text_font_Roboto;
	font-size: 16px;
	font-weight: 100;
	color:$color_text_bellow_banner;
	line-height: 1.375;
	margin: 15px 0 0 46px;
	letter-spacing: 0.2px;
}


/*
.Lorem_Ipsum_is_simply_dummy_text_ {


  text-align: left;
  position: absolute;
  left: 904.937px;
  top: 902.546px;
  z-index: 54;
}



*/

